name: Cypress Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        browser: [chrome, edge, firefox] # Define the browsers you want to test on

    steps:
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18.x' # replace with the latest version of Node.js

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8.1.0

      - name: Cache PNPM dependencies
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-pnpm-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - name: Checkout
        uses: actions/checkout@v2

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Cache Cypress binary cache
        uses: actions/cache@v3
        with:
          path: ~/.cache/Cypress
          key: ${{ runner.os }}-cypress-binary
          restore-keys: |
            ${{ runner.os }}-cypress-

      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        with:
          install: false
          start: pnpm dev --host
          wait-on: 'pnpx wait-on --timeout 60000 tcp:4444'
          wait-on-timeout: 700
          browser: ${{ matrix.browser }} # Use the browser from the matrix
